.pace .pace-progress {background: #0083da;}
.bigIcon,.socialList li a:hover{color: #0083da;}
.btn-new,.downloadNumber{background: #0083da}
.btn-new:hover,.btn-new:focus{background: #0083da}
#share{background-color: #0083da;}
